@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: 'Poppins', 'sans serif';
    


    
}
header{
    color: black;
    position: relative;
    width: 100%;
    display: inline-flex;
    background-color: #6FFC97;


}

header h1{
    margin: 30px;
    font-size: 2rem;
}

header ul{
    display: inline-flex;
    list-style: none;
    position: absolute;
    right: 20px;
    margin: 10px;
    font-size: 1.5rem;


}

header ul li{
    margin: 10px;
    font-size: bolder;
    /* border: black 2px solid; */

}

header ul li::before{
    content: '';
    height: 2px;
    background-color: black;
}


header ul a{
    text-decoration: none;
    color: #000;
}

#black-home{
    background-color: black;
    height: 4px;
    width: 90px;
    position: absolute;
    bottom: 2px;
    left: 50px;
}

#black-about{
    background-color: black;
    height: 4px;
    width: 90px;
    position: absolute;
    bottom: 2px;
    left: 50px;
    transform: translateX(120%);
}

#black-Leagues{
    background-color: black;
    height: 4px;
    width: 120px;
    position: absolute;
    bottom: 2px;
    right: 10px;
}

main{
    background-color: #6FFC97;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.container{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    position: relative;
    height: 100vh;
    min-width: 80%;
    
}

#white-ball{
    position: absolute;
    top: -10%;
    width: 7em;

}



.container h2{
    position: absolute;
    top: 20px;
    font-size: 1.3rem;
}

.OneMatch{
    display: flex;
    justify-content: center;    
    height: 50px;
    width: 75%;
    background-color: #5AF9AD;
    position: relative;
    margin: 15px;
    /* border: black 2px solid; */
}

.OneMatch #team1{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 1.5em;
    width: auto ;
    padding: 0 10px;
    
}

.OneMatch #team2{
    position: absolute;
    font-size: 1.5em;
    top: 20%;
    right: 10%;
    width: auto ;
    padding: 0 10px;
    

}

.container h3{
    position: absolute;
    bottom: 10px;
}

/* .OneMatch #scoreCard1{
    height: 70px;
    width: 40px;
    background-color: black;
    color: white;
    position: absolute;
    top: -10px;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OneMatch #scoreCard2{
    height: 70px;
    width: 40px;
    background-color: black;
    color: white;
    position: absolute;
    top: -10px;
    right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.OneMatch #time{
    min-height: 100%; 
    min-width: 50px;
    background-color: black;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.OneMatch #team2-picture{
    position: absolute;
    right: -2.5%;
    top: -10px;
    width: 4em;
    height: auto;
}

.OneMatch #team1-picture{
    position: absolute;
    left: -2.5%;
    top: -10px;
    width: 4em;
    height: auto;
}

.container button{
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1em;
    
}


.container button a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 20px;
}