@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #6FFC97;
    --secondary-color: #5AF9AD;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', 'sans serif' ;
}

header{
    height: 10vh;
    width: 90%;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nav-links{
    width: 50%;
    font-size: 2rem;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

nav ul li{
    display: flex;
    align-items: center;
}



nav ul a{
    text-decoration: none;
    color: #000;

}


#mobile-logo{
    visibility: hidden;
}

.container{
    background-color: white;
    height: 90vh;
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
-moz-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
}

.ball-logo{
    height: 10%;
    width: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.ball-logo img{
    position: absolute;
    top: -70px;


}

.container h2{
    font-size: 2.5rem;
    margin: 5px auto;
}


.matche{
    background-color: var(--primary-color) ;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin: 20px auto;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    border-radius: 50px;
    -webkit-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
-moz-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
    
}



.matche #time{
    background-color: black;
    color: white;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#team1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

}




.matche a{
    text-decoration: none;
    color: black;

}



#team2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    flex-wrap: nowrap;
}

footer{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}


.wrapper{
    height: 150vh ;
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.team{
    display: flex;
    flex-direction: column;
}

.team img{
    height: 200px;
    width: 60%;
    margin: 20px auto;
    
}

.team-info{
    display: flex;
    flex-direction: column;
}

.team-info h1{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    font-size: 2.5rem;
    margin: 0 auto 15px auto;
    -webkit-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
-moz-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);

}

.fixtures{
    width: 90%;
    background-color: white;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
-moz-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
}

.fixtures h2{
    margin: 10px auto;
    font-size: 2rem;
}

.fixtures small{
    text-align: center;
}

.players-info{
    width: 90%;
    background-color: white;
    margin: 40px auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
-moz-box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
box-shadow: 2px -5px 21px 1px rgba(0,0,0,0.58);
}

.matche-fixture{
    background-color: var(--primary-color) ;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin: 10px auto;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    border-radius: 50px;
    
}

.matche-fixture #time{
    background-color: black;
    color: white;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players-info h2{
    margin: 10px auto;
    font-size: 2rem;
}

.player{
    background-color: var(--primary-color) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 5%;
    margin: 10px auto;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    border-radius: 50px;
}

.player span{
    width: 10%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;    
}



.league-name{
    height: 10vh;
    background-color: white;
    width: 80%;
    min-width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    position: relative;
    align-items: center;
    cursor: pointer;

}

.league-name img{
    position: absolute;
    height: 15vh;
    left: -10px;
}

.league-name h2{
    font-size: 2.5rem;
}

.league-matches{
    background-color: white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black 5px solid;
    width: 60%;
    height: 8vh;
    margin: 40px auto;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    border-radius: 50px;

}

.league-matches img{
    width: 12vh;
    height: 12vh;
    position: absolute;
}

.league-matches #team1-league{
    
    left: -10px;
}

.league-matches #team2-league{
    position: absolute;
    right: -10px;
}

.league-mt{
    background-color: white ;
    justify-content: space-between;
    width: 70%;
    height: 8vh;
    margin: 50px auto;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    border-radius: 50px;
    display: flex;
    opacity: 0;
    transition: opacity 1s ease-in;
}


.league-mt #time{
    background-color: black;
    color: white;
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.league-mt #score-team1,#score-team2{
    background-color: black;
    color: white;
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.league-mt #team1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.league-mt #team1 a{
    position: absolute;
    right: 15%;
    top: 2vh;
}

.league-mt #team2 a{
    position: absolute;
    left: 15%;
    top: 2vh;
}

.league-mt a{
    text-decoration: none;
    color: black;

}

.league-mt #team2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.league-mt #team1 img{
    height: 150%;
    width: 8%;
    position: absolute;
    right: -10px;
}

.league-mt #team2 img{
    height: 150%;
    width: 7%;
    position: absolute;
    left: -15px;
}

@media  only screen and (min-width:380px){
    header{
        height: 10vh;
        margin: 0 auto 10px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .nav-links{
        width: 30%;
        font-size: 1.5em;
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    
    }

    nav ul li{
        display: flex;
        align-items: center;
    }

    nav ul a{
        text-decoration: none;
        color: #000;
    
    }

    #mobile-logo{
      visibility: visible;
      width: 20%;
    }

    #desktop-logo{
        visibility: hidden;
    }

    .ball-logo{
        visibility: hidden;
    }
}